.cross{
    padding: 10px;
    cursor: pointer;
}
div[class^=line]{
    color: red;
    width: 35px;
    height: 5px;
    background: black;
    margin-bottom: 4px;
    transition: all ease 300ms;
}
.classHover{
    margin-bottom: 6px !important;
}
.line1Cross{
    transform: rotate(45deg) translate(5px,5px);
}
.line3Cross{
    transform: rotate(-45deg) translate(1px,-1px);
}