/*=====Fixed Right Side Bar====*/
.sideBar{
    position: fixed;
    top: 40%;
    right: 0;
    width: 200px;
    background: #581845;
    padding: 10px;
    padding-right: 0px;
    padding-right: 0px;
    -webkit-box-shadow: -6px 6px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -6px 6px 5px 0px rgba(0,0,0,0.75);
    box-shadow: -6px 6px 5px 0px rgba(0,0,0,0.75);
}
.active {
    width: 150px;
    height: 35px;
    background: chocolate;
    position: relative;
    right: -40px;
    text-align: center !important;
}
.active p{
    text-shadow: 0px 1px 1px #4d4d4d;
    color: black;
    font: 20px 'LeagueGothicRegular';
    z-index: 9999; 
    position: relative;
    line-height: 33px;
    cursor: pointer;
}
.active::before{
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 5px;
    background: green;
    right: 0;
    transition: width ease 500ms;
}
.active:hover::before{
    width: 115%;
}